.navbar-container {
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    background-color: #0e1924;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        img {
            height: 50px;
            width: 50px;
        }
    }

    .navbar-button-container {
        button {
            padding: 19px 30px;
            background-color: transparent;
            font-size: 1.2rem;
            border: none;
            color: #fff;
            background-color: red;
            cursor: pointer;
        }

        .contact-btn {
            background-color: transparent;
        }
    }
}