.sidebar-container {
    padding: 10px 0px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        padding: .2rem;
        font-weight: bold;
        width: 100%;

        &:hover {
            background-color: yellow;
            color: #000;
        }
    }

    .active {
        background-color: yellow;
        color: #000;
    }
}